@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


body {
	background-color: #e4eaed;
}

table, td, th {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

table {
	background-color: white;
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  	border-collapse: collapse;

}

.headers {
	background-color: #9dbfd4;
	font-weight: bold;
	padding: 15px;
	border: 0px;
}

td {
	border-bottom: 1px solid #d4d4d4;
	font-family: 'Montserrat';
	font-weight: 400;
	max-width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
}


#title {
	border: 0px;
	border: 0px;
	background-color: #e4eaed;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Montserrat';
	font-weight: 600;
}